.k-dropdown-menu,
.k-dropdown-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.k-dropdown-menu a {
    text-decoration: none;
    padding: 5px 9px;
}

.k-dropdown-menu > li > ul {
    left: -9999px;
    position: absolute;
    z-index: 1000000;
    border: 1px solid #c4c7c8;
    background-color: #fff;
}

/* Positions submenu items for when visible */
.k-dropdown-menu ul.show-menu {
    left: 0;
}

/* Positions right-most submenu item for when visible */
.k-dropdown-menu > li:last-child ul.show-menu {
    left: auto;
    right: 0;
}

.k-dropdown-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.k-dropdown-menu li a {
    display: block;
}