a:focus {

	outline: 1px dotted;
}

ul, ol {

	padding-left: 20px;
	padding-left: 1rem;
}

p {

	margin-bottom: 15px;
	margin-bottom: .75rem;
}

.site-header, .site-footer {

	padding-top: 30px;
	padding-bottom: 30px;
}

.site-footer {

	border-top: 1px solid #C6C6C5;
	color: #555;
	font-size: 14px;
	font-size: .875rem;
	margin-top: 90px;
	margin-top: 5.625rem;
}

@media only screen and (min-width: 75em) {

	.site-header, .site-footer {

		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.site-title {

	display: inline-block;
	margin: 0;
	padding-left: 0;
}

.site-title > a[rel="home"] {

	background: url('../public/img/vrandyouth.svg') no-repeat 0 center transparent;
	background-size: contain;
	display: block;
	text-indent: -9999px;
	height: 48px;
	width: 170px;
}

@media only screen and (min-width: 55em) {

	.site-title > a[rel="home"] {

		height: 55px;
		width: 200px;
	}
}

@media only screen and (min-width: 65em) {

	.site-title > a[rel="home"] {

		height: 60px;
		width: 225px;
	}
}

@media only screen and (min-width: 75em) {

	.site-title > a[rel="home"] {

		height: 76px;
		width: 285px;
	}
}

.page-list {

	padding: 0;
	margin-bottom: 30px;
	margin-bottom: 1.875rem;
}

.page-list li,
.page-list .children li {

	display: inline-block;
}

.page-list a {

	padding-right: 8px;
	padding-right: .5rem;
}

.page-list li::before {

	content: "\00B7";
	padding-right: 8px;
	padding-right: .5rem;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page-list .children {

	display: inline;
}

@media only screen and (min-width: 55em) {

	.page-list a {

		padding-right: 0;
	}

	.page-list li::before{

		content: "";
		padding-right: 0;
	}

	.page-list {

		list-style-type: none;
	}

	.page-list li,
	.page-list .children li {

		padding-left: 16px;
		padding-right: 16px;
		padding-left: 1rem;
		padding-right: 1rem;
		border-left: 1px solid #ccc;
	}

	.page-list .children {

		margin-left: 16px;
		margin-left: 1rem;
	}
}



.page-list > li:first-child {

	padding-left: 0;
	border-left: none;
}

#drop-down-left .current_page_item.current_page_item > a,
.current_page_item > a {

	color: #555 !important;
}

.page-list .current_page_item > a {

	font-weight: normal;
}

.form-control, .btn {

	font-size: 16px;
	font-size: 1rem;
}

.lte-ie11 ul#drop-down-left {

	height: 76px;
}

.lte-ie11 .site-title > a[rel="home"] {

	background-position-y: 0;
}

.call-to-action-container {

	position: relative;
	text-align: center;
}

.call-to-action-btn > img{

	display: inline-block;
	max-width: 100%;
	width: 140px;
	width: 8.75rem;
	margin: 20px auto;
	margin: 1.26rem auto;
}

.call-to-action-btn > img:hover {

	transform: none;
}

@media only screen and (min-width: 41em) {

	.call-to-action-btn {

		position: absolute;
		bottom: 10px;
		bottom: .626rem;
		right: 10px;
		right: .625rem;
	}

	.call-to-action-btn img {

		margin: 0;
	}
}

@media only screen and (min-width: 53em) {

	.call-to-action-btn {

		bottom: 20px;
		bottom: 1.25rem;
		right: 20px;
		right: 1.25rem;
	}
}

@media only screen and (min-width: 48em) {

	.plm-sm {

		padding-left: 16px !important;
		padding-left: 1rem !important;
	}

	.prm-sm {

		padding-right: 16px !important;
		padding-right: 1rem !important;
	}

	.phm-sm {

		padding-left: 16px !important;
		padding-left: 1rem !important;
		padding-right: 16px !important;
		padding-right: 1rem !important;
	}
}

@media only screen and (min-width: 62em) {

	.plm-md {

		padding-left: 16px !important;
		padding-left: 1rem !important;
	}

	.prm-md {

		padding-right: 16px !important;
		padding-right: 1rem !important;
	}

	.phm-md {

		padding-left: 16px !important;
		padding-left: 1rem !important;
		padding-right: 16px !important;
		padding-right: 1rem !important;
	}
}

.well :first-child {

	margin-top: 4px;
	margin-top: .25rem;
}

/*ul*/.header-widgets,
/*ul*/.footer-widgets {

	list-style-type: none;
}

.header-widgets > li,
.footer-widgets > li{

	display: inline-block;
}

/*ul*/.header-widgets {


	text-align: right;
}

.header-widgets .input-group {

	max-width: 20rem;
}

.footer-widgets {

	text-align: center;
}

.footer-widgets > li {

	width: 50%;
	min-width: 300px;
	min-width: 18.75rem;
	max-width: 50rem;
}

/* Constant contact widget */

.widget_sf_widget_constantcontact .title-widget {

	font-size: 1em;
	margin-top: 0;
	margin-bottom: .5rem;
}

/* Search Widget */
.widget_search form {

	display: inline-block;
}

.menu-item-has-children > a::after {

	speak: none;
	font-family: "FontAwesome";
	content: "\f078";
	font-size: 10px;
	font-size: .5rem;
	position: absolute;
	right: -15px;
	right: -.75rem;
}


/*
 * news body rules
 */

.news-body > h1:first-child,
.news-body > h2:first-child,
.news-body > h3:first-child,
.news-body > h4:first-child,
.news-body > h5:first-child,
.news-body > h6:first-child {

	margin-top: 0;
}

.news-body .row + .row{

	margin-top: 3rem;
}

/*
 * Calendar
 */

table.fullcalendar {

	border: 1px solid #CCC;
	width: auto;
}

.fullcalendar tbody td {

	width: 8rem;
	height: 8rem;
}

table.em-calendar thead {

	font-size: 24px;
	font-size: 1.5rem;
}

.em-calnav {

	display: inline-block;
	text-indent: -9999px;
}

.em-calnav-next {

	float: right;
}

.em-calnav-prev::before,
.em-calnav-next::after {

	display: inline-block;
	font-family: "FontAwesome";
	text-indent: 9999px;
	width: 2rem;
	height: 2rem;
	background-color: red;
}

.em-calnav-prev::before {

	content: "\f137";
}

.em-calnav-next::after {

	content: "\f138";
}
