a:focus {

	outline: 1px dotted;
}

ul, ol {

	padding-left: 20px;
	padding-left: 1rem;
}

.site-header, .site-footer {

	padding-top: 30px;
	padding-bottom: 30px;
}

.site-footer {

	border-top: 1px solid #C6C6C5;
	color: #555;
	font-size: 14px;
	font-size: .875rem;
	margin-top: 90px;
	margin-top: 5.625rem;
}

@media only screen and (min-width: 75em) {

	.site-header, .site-footer {

		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.site-title {

	display: inline-block;
	margin: 0;
}

.site-title > a[rel="home"] {

	background: url('../public/img/vrandyouth.svg') no-repeat 0 center transparent;
	background-size: contain;
	display: block;
	text-indent: -9999px;
	height: 48px;
	width: 170px;
}

@media only screen and (min-width: 55em) {

	.site-title > a[rel="home"] {

		height: 55px;
		width: 200px;
	}
}

@media only screen and (min-width: 65em) {

	.site-title > a[rel="home"] {

		height: 60px;
		width: 225px;
	}
}

@media only screen and (min-width: 75em) {

	.site-title > a[rel="home"] {

		height: 76px;
		width: 285px;
	}
}

.page-list {

	padding: 0;
	margin-bottom: 30px;
	margin-bottom: 1.875rem;
}

.page-list li,
.page-list .children li {

	display: inline-block;
}

.page-list a {

	padding-right: 8px;
	padding-right: .5rem;
}

.page-list li::before {

	content: "\00B7";
	padding-right: 8px;
	padding-right: .5rem;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page-list .children {

	display: inline;
}

@media only screen and (min-width: 55em) {

	.page-list a {

		padding-right: 0;
	}

	.page-list li::before{

		content: "";
		padding-right: 0;
	}

	.page-list {

		list-style-type: none;
	}

	.page-list li,
	.page-list .children li {

		padding-left: 16px;
		padding-right: 16px;
		padding-left: 1rem;
		padding-right: 1rem;
		border-left: 1px solid #ccc;
	}

	.page-list .children {

		margin-left: 16px;
		margin-left: 1rem;
	}
}



.page-list > li:first-child {

	padding-left: 0;
	border-left: none;
}

#drop-down-left .current_page_item.current_page_item > a,
.current_page_item > a {

	color: #555 !important;
}

.page-list .current_page_item > a {

	font-weight: normal;
}

.form-control {

	font-size: 16px;
	font-size: 1rem;
}

.lte-ie11 ul#drop-down-left {

	height: 76px;
}

.lte-ie11 .site-title > a[rel="home"] {

	background-position-y: 0;
}

.call-to-action-container {

	position: relative;
	text-align: center;
}

.call-to-action-btn > img{

	display: inline-block;
	max-width: 100%;
	width: 140px;
	width: 8.75rem;
	margin: 20px auto;
	margin: 1.26rem auto;
}

.call-to-action-btn > img:hover {

	transform: none;
}

@media only screen and (min-width: 41em) {

	.call-to-action-btn {

		position: absolute;
		bottom: 10px;
		bottom: .626rem;
		right: 10px;
		right: .625rem;
	}

	.call-to-action-btn img {

		margin: 0;
	}
}

@media only screen and (min-width: 53em) {

	.call-to-action-btn {

		bottom: 20px;
		bottom: 1.25rem;
		right: 20px;
		right: 1.25rem;
	}
}



/* Carousel stuff */

button.carousel-button{
	margin-left: 3px;
	margin-right: 3px;

	webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
	background-color:#EEE;

	border:1px solid #999;

	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	font-size:.9em;
	font-weight:700;
	padding:2px 6px;

}
.carousel-buttons{
	width:auto;
	vertical-align:bottom;
	border:none;}

.carousel {
	margin: 10px 0;
	width: 600px;
	height: 250px;


}

li.carousel-item {
	position: absolute;
	top: 0;
	left: 7px;
	list-style:none;
}
img.carousel-image {
	z-index:-1;
	opacity:.5;
	float:right;
	width:200px;
}
img.carousel-imageleft{
	z-index:-1;
	opacity:.5;
	float:left;
	width:200px;
}

li[aria-hidden='true'] {
	display: none;
}
li[aria-hidden='false'] {
	display:block ;

}

.hidden {display:none;}